# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

### 시리즈 생성

In [3]:
s = pd.Series([9904312,3448737,2890451,2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [10]:
s = pd.Series([9904312,3448737,2890451,2466052],
              index=['서울', '부산', '인천', '대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [13]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [12]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [15]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

### 시리즈의 연산

In [17]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱

In [18]:
값에는 값이 넘파이 배열이므로 name 부여 못함
s.values.name = '인구수'

AttributeError: ignored

In [27]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

### fancy indexing

In [20]:
# 2차원으로 출력
s[[0,3,1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

### Slicing

In [21]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [22]:
# 문자인덱스로 슬라이싱하면 마지막(대구)도 포함
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [24]:
# 필터링
s[( 2500000 < s) & (s < 3000000)]     # s[2500000 < s < 3000000] 은 사용불가

도시
인천    2890451
Name: 인구, dtype: int32

In [25]:
s[(s<25e5) | (s>4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

In [26]:
s.부산

3448737

### 시리즈와 딕셔너리

In [32]:
'서울' in s, '대전' in s

(True, False)

In [31]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

### 인덱스 기반 연산

In [33]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [34]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [36]:
rs = (s-s2)/s2 * 100
rs

대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [37]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [41]:
rs = rs[rs.notnull()]
rs

부산    1.630000
서울    2.832690
인천    9.818107
dtype: float64

### 데이터의 갱신, 추가, 삭제

In [51]:
# 업데이트
rs['부산'] = 1.63
rs

서울    2.832690
인천    9.818107
대구    1.410000
부산    1.630000
dtype: float64

In [50]:
# 추가
rs['대구'] = 1.41
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [52]:
# 삭제
del rs['부산']
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64