In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
titanic = sns.load_dataset("titanic")

In [ ]:
# 1. 2차원 표
df = pd.DataFrame(np.arange(20).reshape(4,5),
                  index=list('abcd'), columns=list('vwxyz'))
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [ ]:
# 2. Dictionary list
dl = [
      {'name':'James', 'age':24, 'job':'student'},
      {'name':'Maria', 'age':36, 'job':'teacher'},
      {'name':'Brian', 'age':30, 'job':'programmer'}
]
df = pd.DataFrame(dl)
df

    name  age         job
0  James   24     student
1  Maria   36     teacher
2  Brian   30  programmer

In [ ]:
# 3. 여러개의 리스트
names = ['James', 'Maria', 'Brian']
ages = [24, 36, 30]
jobs = ['student', 'teacher', 'programmer']
df = pd.DataFrame({
    'name':names, 'age':ages, 'job':jobs
})
df

    name  age         job
0  James   24     student
1  Maria   36     teacher
2  Brian   30  programmer

In [ ]:
price_list, author_list, title_list
for page in pages:
  lis
  for li in lis:
  price
  author
  title

  price_list.append(price)
  author_list.append(author)
  title_list.append(title)

  df = pd.DataFrame({
      '제목':title_list
      '저자':author_list
      '가격':price_list
  })

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [ ]:
iris.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [ ]:
s = iris[iris.species == 'setosa']['sepal_length']
np.round(s.mean(), 2), np.round(s.std(), 4)

(5.01, 0.3525)

In [ ]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
species_list, feature_list, mean_list, std_list = [],[],[],[]
for species in iris.species.unique():
  for feature in iris.columns[:-1]:
    s = iris[iris.species == species][feature]
    species_list.append(species)
    feature_list.append(feature)
    mean_list.append(np.round(s.mean(),2))
    std_list.append(np.round(s.std(), 4))

In [ ]:
df = pd.DataFrame({
    'species':species_list, 'feature':feature_list, 'mean':mean_list, 'std':std_list
})
df

       species       feature  mean     std
0       setosa  sepal_length  5.01  0.3525
1       setosa   sepal_width  3.43  0.3791
2       setosa  petal_length  1.46  0.1737
3       setosa   petal_width  0.25  0.1054
4   versicolor  sepal_length  5.94  0.5162
5   versicolor   sepal_width  2.77  0.3138
6   versicolor  petal_length  4.26  0.4699
7   versicolor   petal_width  1.33  0.1978
8    virginica  sepal_length  6.59  0.6359
9    virginica   sepal_width  2.97  0.3225
10   virginica  petal_length  5.55  0.5519
11   virginica   petal_width  2.03  0.2747

In [ ]:
df.set_index(['feature','species'])

                         mean     std
feature      species
sepal_length setosa      5.01  0.3525
sepal_width  setosa      3.43  0.3791
petal_length setosa      1.46  0.1737
petal_width  setosa      0.25  0.1054
sepal_length versicolor  5.94  0.5162
sepal_width  versicolor  2.77  0.3138
petal_length versicolor  4.26  0.4699
petal_width  versicolor  1.33  0.1978
sepal_length virginica   6.59  0.6359
sepal_width  virginica   2.97  0.3225
petal_length virginica   5.55  0.5519
petal_width  virginica   2.03  0.2747

In [ ]:
df

       species       feature  mean     std
0       setosa  sepal_length  5.01  0.3525
1       setosa   sepal_width  3.43  0.3791
2       setosa  petal_length  1.46  0.1737
3       setosa   petal_width  0.25  0.1054
4   versicolor  sepal_length  5.94  0.5162
5   versicolor   sepal_width  2.77  0.3138
6   versicolor  petal_length  4.26  0.4699
7   versicolor   petal_width  1.33  0.1978
8    virginica  sepal_length  6.59  0.6359
9    virginica   sepal_width  2.97  0.3225
10   virginica  petal_length  5.55  0.5519
11   virginica   petal_width  2.03  0.2747

In [ ]:
df.set_index(['feature','species'], inplace=True)

In [ ]:
df

                         mean     std
feature      species
sepal_length setosa      5.01  0.3525
sepal_width  setosa      3.43  0.3791
petal_length setosa      1.46  0.1737
petal_width  setosa      0.25  0.1054
sepal_length versicolor  5.94  0.5162
sepal_width  versicolor  2.77  0.3138
petal_length versicolor  4.26  0.4699
petal_width  versicolor  1.33  0.1978
sepal_length virginica   6.59  0.6359
sepal_width  virginica   2.97  0.3225
petal_length virginica   5.55  0.5519
petal_width  virginica   2.03  0.2747

## 연습문제 4.4.7
타이타닉호 승객을 ‘미성년자’, ‘청년’, ‘중년’, ‘장년’, ‘노년’ 나이 그룹으로 나눈다.

bins = [1, 20, 30, 50, 70, 100]

labels = ["미성년자", "청년", "중년", "장년", "노년"]

그리고 각 나이 그룹의 승객 비율을 구한다. 비율의 전체 합은 1이 되어야 한다.

## 연습문제 4.4.8
타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category3 열을 만들어라. category3 카테고리는 다음과 같이 정의된다.

1. 20살 미만이면 성별에 관계없이 “미성년자”라고 한다.

2. 20살 이상이면 나이에 따라 “청년”, “중년”, “장년”, “노년”을 구분하고 그 뒤에 성별을 나타내는 “남성”, “여성”을 붙인다.